.container>*{
    border: 3px solid red;
    background-color: cyan;
    padding: 30px;
}

header{
    grid-area: header;
}
nav{
    grid-area: navbar;
}
main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.advertise{
    grid-area: advertise;
}
footer{
    grid-area: footer;
}
.container{
    display: grid;
    gap: 30px;
    grid-template-areas:
            "header header header header"
            "navbar main main sidebar"
            "navbar main main advertise "
            "footer footer footer footer";
}
